doctype html    
html
    head 
        title Player
        style 
            include w3.css
            include player.css
        script(type='text/javascript' src='public/jquery-3.6.0.min.js')
        script(type='text/javascript' src='public/jquery-ui.min.js')
        script(type='text/javascript' src='http://localhost:3030/socket.io/socket.io.js')
        script(type='text/javascript' src='public/player.js')
    body
        div(id="header")
            div(id="title_header")
                h2 Auction
        div(id="info")
            div(id="left")
                h1 Username
                div(id="username")
                h1 Cash
                div(id="cash") 
                div(id="bet" style="display:None")
                    input(type="text" id="price")
                    button(class="changePrice" onclick="changePrice()") Add to Bet
            div(id="middle")
                p(id="demo") Time
                img(id="image" width="200px" height="200px")
            div(id="right")
                button(id="arts" onclick="goto()") Let's see some arts 
            

        div(id="textarea" readonly)
            table(id="tableMessage")
                tbody 
